In [11]:
mytuple = ("This", "is", "Abrar", "Hussain", "Tunio", "Nawabshah")
#Remember few functions below will not work for lists
#Few lines will issue errors for tuples as well so students be careful and understand!

In [12]:
print( mytuple[2:4]) #4 is not included

('Abrar', 'Hussain')

In [13]:
print( mytuple[2:5]) #5 in not included

('Abrar', 'Hussain', 'Tunio')

In [14]:
print( mytuple[:2])

('This', 'is')

In [36]:
print(mytuple[-6])

This

In [28]:
print( mytuple[-1] + ("Hyderabad",24) + mytuple[2:5])

TypeError: can only concatenate str (not "tuple") to str

In [32]:
mytuple = mytuple[-2] + ("Hyderabad",24) + mytuple[2:5]
print(mytuple)

TypeError: can only concatenate str (not "tuple") to str

In [29]:
new_tuple = mytuple[:5] + ("Hyderabad",24) + mytuple[2:5]

In [30]:
print(new_tuple)

('This', 'is', 'Abrar', 'Hussain', 'Tunio', 'Hyderabad', 24, 'Abrar', 'Hussain', 'Tunio')

There are two ways to solve the question below.

In [1]:
#Write a program that extracts the last three items in the 
#list sports and assigns it to the variable last. 
#Make sure to write your code so that it works 
#no matter how many items are in the list.

sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']
last = sports[-3:]
print(last)


#last = []
#i = 3
#for value in sports:
#    if i <= 3 and i > 0:
#        last.append(sports[-i])
#    i -= 1
#print(last)

['curling', 'ping pong', 'hockey']