Type Conversion Functions

In [3]:
print(3.14,"------>",int(3.14))

3.14 ------> 3

In [4]:
print(3.0,"----->",int(3.0))

3.0 -----> 3

In [9]:
print(           int("2")     )
print(    type(      "2"   )  )
print(    type(  int("2")  )  )

2
<class 'str'>
<class 'int'>

In [15]:
#In this particular example there is a floating point digit which is converted into string by quotes
print(int("2.0"))

ValueError: invalid literal for int() with base 10: '2.0'

In [13]:
#Resolve it by first converting into float out of string and then to int
print(int (float("2.0") ))

2

In [12]:
print(int("Abrar"))

ValueError: invalid literal for int() with base 10: 'Abrar'

Lets convert values into FLOAT now

In [18]:
#convert string into float
print(        float("7.27") )
print(   type(float("7.27") ))

7.27
<class 'float'>

In [19]:
#convert integer into string
#convert float into string

print(  str(7)  )
print(  type(str(7))  )

print(  str(7.72)  )
print(  type(str(7.72))  )

7
<class 'str'>
7.72
<class 'str'>

WHERE CAN WE USE TYPE CONVERSION

In [21]:
cost_of_item = 70 + 5
print("The cost of item is" + cost_of_item)

TypeError: can only concatenate str (not "int") to str

In [24]:
cost_of_item = 70 + 5
print("The cost of item is " + str(cost_of_item))

The cost of item is 75